:root {
  --primary-bg: lightgray;
}

body {
  font-family: Arial;
  padding: 10px;
  background: var(--primary-bg);
}

.header {
  padding: 5px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.game {
  padding: 20px;
  margin-left: calc(50% - 216px);
}

table, th, td {
  border: 3px solid black;
  border-collapse: collapse;
}

th, td {
  width: 120px;
  height: 120px;
  text-align: center;
  font-size: 100px;
}

.player  {
  overflow: hidden;
  background: white;
}

.player:hover {
  background: lightgray;
  color: black;
}

.emptyend  {
  overflow: hidden;
  background: white;
}

.playerX {
  background: darkred;
  color: white;
}

.playerO {
  background: darkblue;
  color: white;
}

.winnerX {
  background: red;
  color: white;
}

.winnerO {
  background: blue;
  color: white;
}

.button {
  background: white;
  border: 3px solid black;
  color: black;
  padding: 5px;
  font-size: 30px;
  left: 50%;
}

.button:hover {
  background: lightgray;
}
