:root {
  --primary-bg: #dddddd;
}

body {
  font-family: Arial;
  padding: 10px;
  background: var(--primary-bg);
}

.header {
  padding: 10px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
}

.game {
  padding: 20px;
  margin-left: calc(50% - 216px);
}

table, th, td {
  border: 3px solid black;
  border-collapse: collapse;
}

th, td {
  width: 120px;
  height: 120px;
  text-align: center;
  font-size: 100px;
}

.player  {
  overflow: hidden;
  background: white;
}

.player:hover {
  background: green;
  color: black;
}

.playerX {
  background: darkred;
  color: white;
}

.playerO {
  background: darkblue;
  color: white;
}

.winnerX {
  background: red;
  color: white;
}

.winnerO {
  background: blue;
  color: white;
}
